.parent {
  background-color: #add7e2;
  min-height: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1rem;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .parent {
    gap: 0.3rem;
    padding-left: 0.5rem;
  }
}
