.parent {
  max-height: calc(100vh - 10.5rem);
  height: auto;
  min-height: 40vh;
  overflow: auto;
  position: relative;
}

.columnContainer {
  top: 0;
  display: flex;
  background: #3c6e54;
  z-index: 3;
  width: max-content;
  position: sticky;
}

.wrapper {
  display: flex;
  width: max-content;
}

.rowContainer {
  position: sticky;
  left: 0;
  background: #3c6e54;
  z-index: 2;
}

/* Corner */
.dummyContainer {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  width: clamp(4rem, 10vw, 10rem);
  height: clamp(2.4rem, 3.5vh, 3rem);
  background: #183024;
  border: 1px solid #ccc;
}

.gridRow {
  display: flex;
}

.cell {
  width: clamp(4rem, 10vw, 10rem);
  height: clamp(2.4rem, 3.5vh, 3rem);
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.dataCell {
  width: clamp(4rem, 10vw, 10rem);
  height: clamp(2.4rem, 3.5vh, 3rem);
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

.cellInput {
  width: 100% !important;
  height: 100%;
  border: none;
  padding: 4px;
  box-sizing: border-box;
}
.dataCell :focus {
  outline: 2px solid green;
  outline-offset: -2px; /* keeps it inside cell */
}

@media (max-width: 768px) {
  .dummyContainer {
    width: clamp(3.2rem, 12vw, 6rem);
    height: clamp(2rem, 3vh, 2.5rem);
  }

  .cell,
  .dataCell {
    width: clamp(3.2rem, 12vw, 6rem);
    height: clamp(2rem, 3vh, 2.5rem);
  }
}
